extends layout

block content
  h2 Opps
  p Sorry something when wrong while processing your request. We're in beta so we are likely taking a look at it, but if this persists feel free to let us know 
    a(href='http://twitter.com/memozerapp') @memozerapp &nbsp;
    span.fa.fa-twitter