extends layout

block content
  h2 Kevin Dela Rosa
  div.row
    div.col-md-1.col-xs-2
      a(href="#")
        img(src='https://pbs.twimg.com/profile_images/3235866251/3e1c20e93a58acc8426964760436d80f_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
      a.btn.btn-primary(href='#')         
        strong @kevd1337 &nbsp;
        span.fa.fa-twitter
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-list
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-edit     
  hr 
  p  engineer @ amazon, carnegie mellon alum, former researcher, song-writer/guitarist, occasional music hacker. fan of hip-hop, punk, star trek, comics & comedy.
  hr           
  div
    span.label.label-info SXSW
    | &nbsp;
    span.label.label-info Seattle
    | &nbsp;
    span.label.label-info Start-ups
    |  &nbsp;
  br
  p.text-primary Added 5 days ago
  br        
  ul.pager
    li.previous 
      a(href="/contacts") &larr; &nbsp; Back to Contacts &nbsp;
        span.fa.fa-users 