extends layout

block content
  br
  div.row
    div.col-md-1.col-xs-2
      a(href="#")
        img(src='https://pbs.twimg.com/profile_images/3235866251/3e1c20e93a58acc8426964760436d80f_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
      strong Kevin Dela Rosa
      br
      | @kevd1337
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-list
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.fa.fa-twitter        
  hr
  div.row
    div.col-md-1.col-xs-2
      a(href="#")
        img(src='https://pbs.twimg.com/profile_images/378800000277825917/70ffbc17c3696eb59552a584a193b0df_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
      strong Vinay Viyas
      br
      | @vbvyas
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-list
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.fa.fa-twitter     

  br        
  ul.pager
    li.previous 
      a(href="/") &larr; &nbsp; Go Home &nbsp;
        span.glyphicon.glyphicon-home       