extends layout

block content
  br
  div.row
    div.col-md-1.col-xs-2
      span.text-primary
        strong NOV 6
    div.col-md-1.col-xs-2
      a(href='#')
        img(src='https://pbs.twimg.com/profile_images/3235866251/3e1c20e93a58acc8426964760436d80f_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
       | get coupon and sync up about SXSW accelerator application
       br
       a(href='/followup') [ more ... ]
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-unchecked        
  hr
  br
  div.row
    div.col-md-1.col-xs-2
      span.text-primary
        strong NOV 7
    div.col-md-1.col-xs-2
      a(href='#')
        img(src='https://pbs.twimg.com/profile_images/3235866251/3e1c20e93a58acc8426964760436d80f_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
       | buy one million twitter stock units
       br
       a(href='/followup') [ more ... ]
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-unchecked

  br        
  ul.pager
    li.previous 
      a(href="/") &larr; &nbsp; Go Home &nbsp;
        span.glyphicon.glyphicon-home       

  script
    mixpanel.track("followup_list");
