extends layout

block content
  h2 Due: 
    span.text-info Nov 6
  div.row
    div.col-md-1.col-xs-2
      a(href="#")
        img(src='https://pbs.twimg.com/profile_images/3235866251/3e1c20e93a58acc8426964760436d80f_normal.jpeg')
    div.col-md-9.col-xs-5.text-left
      strong Kevin Dela Rosa
      br         
      | @kevd1337
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.fa.fa-check-square-o
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-edit     
  hr 
  p  catch up with la luz @ neumos
  hr
  br
  p.text-primary Added 9 days ago
  br        
  ul.pager
    li.previous 
      a(href="/contacts") &larr; &nbsp; Back to Follow-ups &nbsp;
        span.glyphicon.glyphicon-list 

  script
    mixpanel.track("followup");
