extends layout

block content
  if(user)
    h3 Welcome back &nbsp;
      span.text-primary #{user.username}
    p organize your life
    div.list-group
      a.list-group-item(href='/sn/search')
        span.fa.fa-plus &nbsp;
        | New contact
      a.list-group-item(href='/contacts')
        span.fa.fa-users &nbsp;
        | Contacts
        if(contactCounts)
          span.badge &nbsp; #{contactCounts} &nbsp;
      a.list-group-item(href='/followups')
        span.glyphicon.glyphicon-list &nbsp;
        | Follow-ups
        span.badge &nbsp; 5 &nbsp; 
  else
    .text-center.row
      h3 Welcome to Memozer
      p Memozer can help you connect and maintain your social connections on the go. Memozer bridges the gap between your physical and online networks, and can also help you stay in contact, record important details, and organize action items or follow-ups with the people they connect with.           
    br 
    p.text-center.row 
      strong Login via Twitter below to get started.
    .text-center.row
      a(href="/auth/twitter")
        img(src="/img/sign-in-with-twitter-l.png")    