extends layout

block content
  br
  ul.list-group
    li.list-group-item
      | Add Contact
    li.list-group-item
      | Contacts
      span.badge &nbsp; 99+ &nbsp;
    li.list-group-item
      | Follow-ups
      span.badge &nbsp; 5 &nbsp; 
            