extends layout

block content
  if(username)
    h3 Welcome back &nbsp;
      span.text-primary #{username}
    p organize your life
    div.list-group
      a.list-group-item(href='/sn/search')
        span.fa.fa-plus &nbsp;
        | New contact
      a.list-group-item(href='/contacts')
        span.fa.fa-users &nbsp;
        | Contacts
        if(contactCounts)
          span.badge &nbsp; #{contactCounts} &nbsp;
      a.list-group-item(href='/followups')
        span.glyphicon.glyphicon-list &nbsp;
        | Follow-ups
        if(followupCounts)
          span.badge &nbsp; #{followupCounts} &nbsp; 
  else
    .text-center.row
      h3 Memozer
      h4.text-warning meet. connect. meet again!
      p Convert your casual connections into meaningful follow-ups.
    p.text-center.row 
      strong Login via Twitter below to get started.
    .text-center.row
      a(href="/auth/twitter")
        img(src="/img/sign-in-with-twitter-gray.png")
    br
    .text-center.row
      include carousel
    br 
    p.text-center.row 
      strong Login via Twitter below to get started.
    .text-center.row
      a(href="/auth/twitter")
        img(src="/img/sign-in-with-twitter-gray.png")    
    br
  script.
    mixpanel.track("index");
