doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/amelia/bootstrap.min.css", rel="stylesheet", media='screen')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")    
    link(rel='stylesheet', href='/css/app.css')
    script(src='/javascripts/google.js')
    script(src='/javascripts/mixpanel.js')
    script(src='/lib/jquery/jquery.min.js')
    script(src!='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    //
       Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script.
      <!--
      (function() {
          if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
              var msViewportStyle = document.createElement("style");
              msViewportStyle.appendChild(
                  document.createTextNode("@-ms-viewport{width:auto!important}")
              );
              document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
          }
      })(); 
      //--> 
    block extra_head        
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') memozer
        div.collapse.navbar-collapse#navbar-main
          ul.nav.navbar-nav.pull
            if (req.isAuthenticated())
              li
                a(href='/sn/search') New contact
              li
                a(href='/contacts') Contacts
              li
                a(href='/followups') Follow-ups            
              li              
                a(href='/logout', title='logout') Logout
            else
              li
                a(href='/login', title='Login') Login

    div.container
      block content
          
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
