body {
  padding-top: 50px;
}

/* Flexible iFrame */

#mapcontainer {
  display: inline-block;
  position: relative;
  width: 100%;
}
#dummy {
  padding-top: 75%;
}
#map-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}