@media (max-width: 979px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}
