extends ../layout

block content
  br
  p.text-center.row 
      strong Login via Twitter below to get started.
  .text-center.row
    a(href="/auth/twitter")
      img(src="/img/sign-in-with-twitter-l.png")    
