extends ../layout

block content
  br
  .text-center.row
    a(href="/auth/twitter")
      img(src="/img/sign-in-with-twitter-l.png")    
  //  a(href="/auth/linkedin")
  //    img(src="/img/linkedin.png")    
  //  a(href="/auth/github")
  //    img(src="/img/github.png")      
  //  a(href="/auth/facebook")
  //    img(src="/img/facebook.png")      
  //  a(href="/auth/google")
  //    img(src="/img/google.png")

  //.text-center.row    
  //  h2 OR
  //  br 

  //.login.text-center.row
  //  block auth
